<div class="container-fluid">
<h1>Herramienta</h1>
<div class="row">
    <div class="col text-right">
        <button [routerLink]="['/nuevos']" class="btn btn-danger">
            <i class="fa fa-arrow-left"></i> Regresar
        </button>
    </div>
</div>




<div>
    <label>Nombre:</label>
    <input [(ngModel)]="herramienta.nombre" name="nombre"  type="text" class="form-control"  placeholder="Nombre"      minlength="5" maxlength="40" required pattern="[A-Za-z]+" required >
    <span class="error" aria-live="polite"></span>
</div>
<div class="form-group">
    <label>Cantidad:</label>
    <input [(ngModel)]="herramienta.cantidad" name="cantidad" type="text" class="form-control" required placeholder="Cantidad"     minlength="1" maxlength="10" required pattern="[0-9]+">
</div>
<div class="form-group">
    <label>Descripcion:</label>
    <input [(ngModel)]="herramienta.descripcion" name="descripcion" type="text" class="form-control" required placeholder="Descripcion"      minlength="5" maxlength="40" required pattern="[A-Za-z]+">
</div>




<label for="categoria">Categoria:</label>
<select [(ngModel)]="herramienta.id_categoria"  class="form-control form-control-sm" required>
      <option value="0">Seleccionar</option>
      <option *ngFor="let categoria of categoria; let i = index" value="{{categoria.id}}">{{categoria.nombrecat}}</option>
    
    </select>


<label for="Subcategoria">Subcategoria:</label>
    <select [(ngModel)]="herramienta.id_subcategoria"   class="form-control form-control-sm" required="required">
        <option value="0">Seleccionar</option>
            <option *ngFor="let subcategoria of subcategoria; let i = index" value="{{subcategoria.id}}">{{subcategoria.nombresub}}</option>
    </select>

<br>

<div class="row animated fadeIn faster">
    <div class="col">
        
        <form (ngSubmit)="guardar( form )" #form="ngForm">


            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary w-25">
                        <i class="fa fa-save"></i>
                        Guardar
                        </button>
            </div>
        </form>
    </div>
</div>


</div>