

    
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">


    <a class="navbar-brand" href="#">Bienvenido</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
              </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/slider']">Home<span class="sr-only">(current)</span></a>
            </li>


            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['/quienessomos']">¿Quienes Somos?</a>
            </li>





            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Enterprise
                   </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li class="dropdown-item" routerLinkActive="active">
                        <a class="dropdown-item" [routerLink]="['/mision']">Mision<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="dropdown-item" routerLinkActive="active">
                        <a class="dropdown-item" [routerLink]="['/vision']">Vision<span class="sr-only">(current)</span></a>
                    </li>

                </div>



                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Empleados
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li class="dropdown-item" routerLinkActive="active">
                            <a class="dropdown-item" [routerLink]="['/usuarios']">Registro de empleados<span class="sr-only">(current)</span></a>
                        </li>


                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Herramientas
                            </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <li class="dropdown-item" routerLinkActive="active">
                            <a class="dropdown-item" [routerLink]="['/categorias']">Categoria<span class="sr-only">(current)</span></a>
                        </li>

                        <li class="dropdown-item" routerLinkActive="active">
                            <a class="dropdown-item" [routerLink]="['/subcategorias']">Subcategoria<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="dropdown-item" routerLinkActive="active">
                            <a class="dropdown-item" [routerLink]="['/nuevos']">Registra una Herramienta<span class="sr-only">(current)</span></a>
                        </li>


                    </div>


                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Control de Herramientas
                              </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item" routerLinkActive="active">
                                <a class="dropdown-item" [routerLink]="['/entregas']">Entrega de herramienta<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="dropdown-item" routerLinkActive="active">
                                <a class="dropdown-item" [routerLink]="['/devoluciones']">Devolucion de herramienta<span class="sr-only">(current)</span></a>
                            </li>
                        </div>

                    </li>





                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Listado de acciones 
                              </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li class="dropdown-item" routerLinkActive="active">
                                <a class="dropdown-item" [routerLink]="['/listas']">¿Que ha pasado? <span class="sr-only">(current)</span></a>
                            </li>

                        </div>


                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Catalogo
                                  </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li class="dropdown-item" routerLinkActive="active">
                                    <a class="dropdown-item" [routerLink]="['/catalogo']">Catalogo <span class="sr-only">(current)</span></a>
                                </li>

                            </div>

                        </li>



        </ul>


    </div>
</nav>
